{% extends 'admin/change_list.html' %}

{% load static %}


{% block extrastyle %}
    <style>
        canvas {
            width: content-box !important;
            height: 400px !important;
        }
    </style>
{% endblock %}

{% block object-tools %}
    <div class="container">
        <h1> Ouvidoria</h1>
        <p> Aqui podemos encontrar os dados da ouvidoria por categoria. Cada e-mail enviado na ouvidoria é guardada a
            informação de envio somente do tema para realizar essa estatísca</p>
        {% if dataGraph %}
            <script>
                var getData = function () {
                    var data = {
                    {%for sla in dataGraph%}
                        "{{sla.0}}" : {{sla.1}},
                    {%endfor%}
                }
                    ;
                    return data;
                };
            </script>
        {% else %}
            <h1> Não há dados nesse período </h1>
        {% endif %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <canvas id="Grafico1"></canvas>
        <script src={% static 'js/teste.js' %}></script>
    </div>
    {{ block.super }}
{% endblock %}
