{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <!-- Padding -->
            <br>
            <h1 class="text-success text-center">
                {{ thanks }}
            </h1>
            <p class="text-justify">
                Aqui, os estudantes podem apresentar anonimamente suas sugestões e críticas relacionadas à gestão e ao
                curso. Cada mensagem é redirecionada para a gestão correspondente dentro do CADir de acordo com o tema,
                caso
                queira resposta adicione seu e-mail no campo correspondente.
            </p>
            <h1 class="text-center"> Ouvidoria Online </h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        {{ field.label }} <br><br>
                        {{ field }}
                        {{ field.help_text }} <br><br>
                    {% endfor %}
                </div>
                <input class="btn btn-outline-dark" type="submit" value="Enviar mensagem">
            </form>
        </div>
    </div>
    <div class="container" >

        <script >
            var getData = function(){
                var data = {
                    
                    {%for sla in dataGraph%}
                    {{sla.0}} : {{sla.1}},
                    {%endfor%}
                };
                return data;
            };
            </script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
        <canvas id="Grafico1" style="height:400px;width: content-box;" ></canvas>
        <script src="../../static/js/teste.js"></script>
    </div>


{% endblock %}