:root {
  --cadir-blue-faded: #3c5a8c;
  --cadir-blue: #001652;
  --bg-white: #f3f3f3;
  --bg-white-nav: #ececec;
}

/* =========== utilitários ============ */
.center {
}

/* ========== Cards dos guias ========== */

.card-deck {
    padding: 50px 0;
}

.card-deck .card {
    max-width: calc(25% - 30px);
}

.card-img {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-title {
    margin-bottom: 0.3rem;
    color: var(--cadir-blue);
}

.cat {
    display: inline-block;
    margin-bottom: 1rem;
}

.fa-users {
    margin-left: 1rem;
}

.card-footer {
    font-size: 0.8rem;
}

.text-primary {
    color: var(--cadir-blue) !important;
}

.card-link a {
    color: red !important;
}