:root {
    --cadir-blue-faded: #3c5a8c;
    --cadir-blue: #001652;
    --bg-white: #f3f3f3;
    --bg-white-nav : #ececec;
}

#programas-fixed {
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

h1 {
    padding: 20px 0;
    text-transform: uppercase;
}

.jumbotron {
    background-color:var(--bg-white);
}