/* Alteraçoes referentes a pagina inteira */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* body {
    overflow-x: hidden;
} */

/* Estilos das nav bar */
.nav-link {
    font-size: 16px !important;
}

.navbar-brand {
    font-family: 'Cinzel', serif;
}

.nav-item {
    text-align: right;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#img1 {
    margin-top: 10px;
} 

.card {
    box-shadow: 0 1px 5px rgba(104,104,104,0.8);
}

#home {
    /* background: url('../../media/law.jpg') no-repeat center center fixed; */
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../media/law.jpg') no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
    color:lightgrey;
}
.landing-text h3 {
    color:lightgrey;
}

.padding {
    padding: 80px 0px;
}

.padding img {
    width: 100%;
}

#fixed {
    background: url('../../media/martelo.jpg') no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.ver-mais {
    padding: 30px 0;
}

/* Slider */

.carousel-item {
    height: 100vh;
}

footer {
    color: white;
    padding: 2rem 0 3rem;
    margin-top: 1rem;
}

footer a {
    color: white;
}

footer svg.svg-inline--fa {
    font-size: 1.6rem;
    margin: 1.2rem .5 0 0;
}

hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}