{% extends "base.html" %}

{% load static %}
{% load staticfiles %}
{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="fixed">
        <img class="img-fluid" src="{% get_media_prefix %}{{ Programa.show_img }}" alt="Show Image Programa">
    </div>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="text-center font-weight-bold display-4"> {{ Programa.nome }} </h1>

            <div class="py-3">
                <audio controls style="margin: 0 auto; display: block;">
                    <source src="{% get_media_prefix %}/audio/programas/{{ Programa.id }}.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>

            {% comment %} <div class="text-center d-block">
                <img src="{% get_media_prefix %}{{ Programa.show_img }}" alt="Logo">
            </div> {% endcomment %}
            {{ Programa.text|safe }}
            <!-- <br>
                <div class="text-center">
                    <i class="far fa-envelope fa-5x"></i><br>
                    {{ Programa.email }}
                </div> -->
        </div>
    </div>

    <div class="container text-center">
        <div class="jumbotron jumbotron-fluid">
            <h2 clas>Gostou? Fale conosco!</h2>
            <p>Email: <a href="{{ Programa.email }}">{{ Programa.email }}</a></p></p>
            {% if Programa.site %}
                <p>Site: <a href="{{ Programa.site }}">{{ Programa.site }}</a></p>
            {% endif %}
            <br>
            <div class="container no-gutters">
                <div class="row">
                    <div class="col">
                        {% if Programa.facebook %}
                            <a id="facebook" href="{{ Programa.facebook }}"><i class="fab fa-facebook-square fa-3x"></i></a>
                        {% endif %}
                        {% if Programa.instagram %}
                            <a id="instagram" href="{{ Programa.instagram }}"><i class="fab fa-instagram fa-3x"></i></a>
                        {% endif %}

                        {% if Programa.twitter %}
                            <a id="twitter" href="{{ Programa.twitter }}"><i
                                    class="fab fa-twitter-square fa-3x"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}