{% extends "base.html" %}

{% load static %}
{% load staticfiles %}
{% block content %}
    <div id="programas-fixed"
         style="background: url('{% get_media_prefix %}{{ Programa.show_img }}') no-repeat center center fixed;"></div>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="text-center font-weight-bold"> {{ Programa.nome }} </h1>
            <!--<div class="text-center d-block">
                <img src="{% get_media_prefix %}{{ Programa.logo }}" alt="Logo">
            </div>-->
            <p class="text-justify">{{ Programa.text }}</p>
            <br>
            <div class="text-center">
                <i class="far fa-envelope fa-5x"></i><br>
                {{ Programa.email }}
            </div>
        </div>
    </div>

    <div class="container text-center">
        <div class="jumbotron jumbotron-fluid">
            <div class="row">
                {% if Programa.facebook %}
                    <div class="col">
                        <a href="{{ Programa.facebook }}"><i class="fab fa-facebook-square fa-5x"></i></a>
                    </div>
                {% endif %}
                {% if Programa.instagram %}
                    <div class="col">
                        <a href="{{ Programa.instagram }}"><i class="fab fa-instagram fa-5x"></i></a>
                    </div>
                {% endif %}
                {% if Programa.site %}
                    <div class="col">
                        <a href="{{ Programa.site }}"><i class="fas fa-globe fa-5x"></i></a>
                    </div>
                {% endif %}
                {% if Programa.twitter %}
                    <div class="col">
                        <a href="{{ Programa.twitter }}"><i class="fab fa-twitter-square fa-5x"></i></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}