{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% block content %}
    <br> <!-- a navbar come um pedaço da página -->
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center"> Programas do Direito</h1>
    <br>

    <form action="" method="post">
        {% csrf_token %}
        <div class="text-center"> {{ form }} <input class="btn btn-outline-dark" type="submit" value="Filtrar"></div>
    </form>
        
    <br>
    <!-- Cartão Horizontal -->
    <div class="card" style="width: 100%;">
        <ul class="list-group list-group-flush">
            {% for programa in Programas %}
                <li class="list-group-item">
                    <div class="container">
                        <div class="card-horizontal-img">
                            <a href=" {% url 'programas:show' pk=programa.id %} ">
                                <img alt="Card image cap" src="{% get_media_prefix %}{{ programa.logo }}" width="128"
                                        height="128">
                            </a>
                            <h5>{{ programa.nome }}</h5>
                        </div>
                        <div class="card-horizontal-desc">
                            <p>
                                {{ programa.text|bleach|truncatewords:60 }}
                            </p>
                        </div>
                    </div>
                </li>
                <div style="padding: 10px 0;"></div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}