{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center"> Guia de assistência estudantil </h1>

            <div class="paragraph">
                <h4 class="font-weight-bold">O que é a assistência estudantil?</h4>
                <p>É um programa com a finalidade de ampliar as condições de <span class="underline">permanência</span> dos jovens em situação de vulnerabilidade econômica na Universidade Federal.</p>
            </div>

            <div class="paragraph">
                <h4 class="font-weight-bold">Quem é responsável por gerenciar as políticas da assistência na UnB?</h4>
                <p>Compete à Diretoria de Desenvolvimento Social (<span class="underline">DDS</span>) o planejamento, implantação, operacionalização e monitoramento dos programas, projetos e ações da Política de Assistência Estudantil desenvolvidas na Universidade de Brasília. </p>
            </div>

            <div class="paragraph">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h4>Onde fica a sede da DDS?</h4>
                            <p>A DDS tem sede no Bloco Eudoro de Souza (<span class="underline">BAES</span>), em frente ao BSAN.</p>
                        </div>

                        <div class="grid-paragraph">
                            <h4>Quem pode participar da assistência estudantil?</h4>
                            <p>Os estudantes com renda familiar per capita de até <span class="underline">1,5 salário mínimo</span>.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <img widht="100%" height="100%" src="{% get_media_prefix %}/guias_img/assistencia/assistencia1.png" alt="">
                    </div>
                </div>
            </div>

            <div class="paragraph">
                <h4>Quais os programas de assistência estudantil?</h4>
                <ul>
                    <li>
                        Bolsa alimentação no Restaurante Universitário (RU):
                        <ul>
                            <li>Estudantes com renda familiar bruta de até 1,5 salário mínimo per capta
                                <span class="underline">não pagam as refeições</span> (café, almoço, jantar).
                                Aos estudantes com ingresso por meio do sistema de
                                cotas, provenientes
                                de escolas públicas com renda familiar bruta igual ou inferior a 1,5 salário
                                mínimo per capita terão acesso imediato à Bolsa Alimentação durante
                                seu primeiro semestre letivo, ainda que não tenham solicitado avaliação
                                de seu Estudo Socioeconômico.
                            </li>
                        </ul>
                    </li>
                    <li>
                        Auxílio Transporte:
                        <ul>
                            <li>
                                Auxílio mensal de <span class="underline">R$ 300,00</span> (durante o período de
                                aulas ou atividade
                                acadêmica) para custear parcialmente as despesas do estudante com o
                                transporte interestadual;
                            </li>
                            <li>
                                OBS: Destinação das vagas para essa modalidade se deve à
                                impossibilidade de acesso integral ao passe livre estudantil do
                                DFTRANS
                            </li>
                        </ul>
                    </li>
                    <li>
                        Moradia: Essa modalidade é voltada para estudantes cujo núcleo familiar resida
                        fora do DF e não possua imóveis no DF e estudantes residentes no DF e entorno
                        que sejam provenientes de regiões com acesso comprovadamente difícil ao seu
                        campus de origem.
                        <ul>
                            <li>
                                Auxílio moradia (pecúnia): auxílio financeiro de R$ 530,00 para ajudar com as despesas de
                                aluguel;
                            </li>
                            <li>
                                Vaga na casa do estudante (CEU)
                            </li>
                            <li>
                                Vaga em apartamento específico na CEU, para
                                pessoas com
                                deficiência (modalidade voltada para pessoas que possuam mobilidade
                                reduzida severa e que tenham comprometimento para exercício da vida
                                de forma independente.)
                            </li>
                        </ul>
                        <span class="text-danger"> *vagas na CEU dependem de disponibilidade</span>
                    </li>

                    <li>Auxílio Socioeconômico: Concessão mensal de auxílio financeiro
                        de <span class="undeline">R$465,00</span> para minimizar desigualdades sociais e ajudar nos estudos.
                    </li>
                    <li>Auxílio Creche: Auxílio financeiro de <span class="underline">R$
                        485,00</span> a estudantes que sejam
                        responsáveis legais e residam com crianças em idade entre <span class="underline">zero e cinco anos
                        incompletos</span>; pagamento mensal mantido durante o recesso letivo.
                    </li>
                    <li>Auxílio emergencial: benefício de <span class="underline">R$
                        465,00</span> destinado a alunos com
                        dificuldades financeiras EMERGENCIAIS que coloquem em risco sua
                        permanência na UnB. O aluno que se aplica para essa modalidade não pode
                        receber benefícios do programa de assistência estudantil.
                    </li>
                    <li>Vale livro: Editora UnB disponibiliza aos
                        estudantes de graduação em situação
                        de vulnerabilidade socioeconômica <span class="underline">05</span> vales por semestre, com <span class="underline">desconto de
                        60%</span> nos livros da Editora.
                    </li>
                    <li>Acesso à língua estrangeira: A UnB idiomas disponibiliza aos estudantes
                        PPAES, em cada semestre letivo, uma <span class="underline">vaga</span> por turma nos <span class="underline">cursos de línguas
                        oferecidos com isenção de mensalidade</span>. As inscrições são realizadas no
                        Programa de Extensão UnB Idiomas, de acordo com critérios e calendário
                        próprios disponíveis na página da <a href="https://www.unbidiomas.unb.br">UnB Idiomas.</a>
                    </li>
                </ul>
            </div>

            
            <div class="paragraph">
                <h4>Como se inscrever nos programas de assistência estudantil?</h4>
                <ol>
                    <li>Pela avaliação socioeconômica: que avalia as condições financeiras do
                        estudante para classificá-lo como apto a
                    </li>
                    <li>Fazer a inscrição da avaliação socioeconômica online no site <a href="https://www.servicos.unb.br/sae">SAEWeb</a>
                        a. Para se inscrever na seleção dos Programas de assistência o estudante
                        deve assinalar a intenção de concorrer ao(s) respectivo(s) Programa(s)
                        no SAEWeb durante o preenchimento da Avaliação Socioeconômica
                    </li>
                    <li>Preencher o formulário com as informações solicitadas</li>
                    <li>Acompanhar o andamento da avaliação socioeconômica através do SAEWeb</li>
                    <li>Assinar o Termo de Concessão (caso seja selecionado) junto ao Serviço de
                        Programas de Desenvolvimento Social (SPS) em data estabelecida no
                        cronograma do edital de avaliação socioeconômica
                    </li>
                    <li>Os candidatos classificados, mas não selecionados ficarão em lista de espera
                        que terá validade até o último dia de aula do respectivo semestre
                    </li>
                </ol>
            </div>
            
            <div class="paragraph">
                <ul>
                    <li>Se houver dúvida, entre em contato com o SPS</li>
                    <li>Em caso de erro tire um print para comprovar</li>
                    <li><span class="underline">A ANÁLISE DA DOCUMENTAÇÃO SERÁ REALIZADA EM PERÍODO
                        ESTABELECIDO NO CRONOGRAMA DO EDITAL do respectivo semestre</span>
                    </li>
                </ul>
            </div>
            
            <div class="paragraph">
                <h4>Qual a documentação exigida para preencher o formulário do SAEWeb?</h4>
                <p>Consultar o edital de avaliação econômica do respectivo semestre. </p>
            </div>
            
            <div class="paragraph">
                <h4>É possível interpor recurso contra o resultado?</h4>
                <p>O estudante que desejar interpor recurso ao resultado preliminar da Avaliação
                    Socioeconômica deverá fazer a solicitação em formulário próprio no SPS do seu
                    campus de origem em prazo estabelecido no cronograma do Edital.</p>
                </div>
                
                <div class="paragraph">
                    <h4>Validade da Avaliação socioeconômica:</h4>
                    <ul>
                        <li>Estudantes nas modalidades Auxílio Moradia e Auxílio Transporte
                            deverão realizar anualmente a renovação para permanência no Programa, a ser regida
                            por Edital específico; Estudante pode ser desligado dessas modalidades se
                            exceder dois semestres do tempo regular de conclusão do seu curso de
                            graduação.
                    </li>
                    <li>A validade da Avaliação Socioeconômica para se manter nos demais programas
                        da assistência estudantil é de 10 (dez) semestres letivos consecutivos.
                    </li>
                    <li>o monitoramento da referida validade de responsabilidade exclusiva do estudante.
                    </li>
                </ul>
            </div>
            
            <div class="paragraph">
                <h4> Renovação da avaliação socioeconômica </h4>
                <p>No décimo semestre de validade da Avaliação Socioeconômica, o
                    estudante que tiver interesse de manter seu vínculo com a Assistência Estudantil deverá
                    submeter-se ao Edital de Avaliação Socioeconômica do semestre da renovação
                    e preencher um novo formulário no SAEWeb enviando os documentos
                    atualizados conforme o Edital vigente à época.</p>
                    
            </div>

            <div class="paragraph">
                <h4>Existe um limite para utilizar os programas da assistência?</h4>
                <p>Os Programas de Assistência Estudantil são acumuláveis com o recebimento de bolsas acadêmicas, porém a soma dos benefícios pecuniários da Assistência Estudantil recebidos pelo estudante não poderá ultrapassar o valor de 1,5 salário mínimo.</p>
            </div>

            <div class="paragraph">
                <p class="font-weight-bold" id="color-cadir">Caso tenha alguma dúvida em como ter acesso aos programas da assistência, leia o
                EDITAL de AVALIAÇÃO SOCIOECONÔMICA que é disponibilizado no site da Diretoria
                de Desenvolvimento Social (DDS) todo semestre ou ligue para a DDS.</p>
            </div>
            

        </div>
    </div>
    {% endblock %}