{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center"> Guia de assistência estudantil </h1>

            <h2>O que é a assistência estudantil?</h2>

            <p>É um programa com a finalidade de ampliar as condições de permanência dos jovens em
                situação de vulnerabilidade econômica na Universidade Federal.</p>

            <h2>Quem é responsável por gerenciar as políticas da assistência na UnB?</h2>

            <p>Compete à Diretoria de Desenvolvimento Social (DDS) o planejamento, implantação,
                operacionalização e monitoramento dos programas, projetos e ações da Política de Assistência
                Estudantil desenvolvidas na Universidade de Brasília. </p>

            <h2>Onde fica a sede da DDS?</h2>
            <p>A DDS tem sede no Bloco Eudoro de Souza (BAES), em frente ao BSAN.</p>

            <h2>Quem pode participar da assistência estudantil?</h2>
            <p>Os estudantes com renda familiar per capita de até 1,5 salário mínimo.</p>

            <h2>Quais os programas de assistência estudantil?</h2>
            <ul>
                <li>
                    Bolsa alimentação no Restaurante Universitário (RU):
                    <ul>
                        <li>
                            Aos estudantes com ingresso por meio do sistema de
                            cotas, provenientes
                            de escolas públicas com renda familiar bruta igual ou inferior a 1,5 salário
                            mínimo per capita terão acesso imediato à Bolsa Alimentação durante
                            seu primeiro semestre letivo, ainda que não tenham solicitado avaliação
                            de seu Estudo Socioeconômico.
                        </li>
                    </ul>
                </li>
                <li>
                    Auxílio Transporte:
                    <ul>
                        <li>
                            Auxílio mensal de R$ 300,00 (durante o período de
                            aulas ou atividade
                            acadêmica) para custear parcialmente as despesas do estudante com o
                            transporte interestadual;
                        </li>
                        <li>
                            OBS: Destinação das vagas para essa modalidade se deve à
                            impossibilidade de acesso integral ao passe livre estudantil do
                            DFTRANS
                        </li>
                    </ul>
                </li>
                <li>
                    Moradia: Essa modalidade é voltada para estudantes cujo núcleo familiar resida
                    fora do DF e não possua imóveis no DF e estudantes residentes no DF e entorno
                    que sejam provenientes de regiões com acesso comprovadamente difícil ao seu
                    campus de origem.
                    <ul>
                        <li>
                            Auxílio moradia (pecúnia): auxílio financeiro de R$ 530,00 para ajudar com as despesas de
                            aluguel;
                        </li>
                        <li>
                            Vaga na casa do estudante (CEU)
                        </li>
                        <li>
                            Vaga em apartamento específico na CEU, para
                            pessoas com
                            deficiência (modalidade voltada para pessoas que possuam mobilidade
                            reduzida severa e que tenham comprometimento para exercício da vida
                            de forma independente.)
                        </li>
                    </ul>
                    <span class="text-danger"> *vagas na CEU dependem de disponibilidade</span>
                </li>

                <li>Auxílio Socioeconômico: Concessão mensal de auxílio financeiro
                    de R$465,00 para minimizar desigualdades sociais e ajudar nos estudos.
                </li>
                <li>Auxílio Creche: Auxílio financeiro de R$
                    485,00 a estudantes que sejam
                    responsáveis legais e residam com crianças em idade entre zero e cinco anos
                    incompletos; pagamento mensal mantido durante o recesso letivo.
                </li>
                <li>Auxílio emergencial: benefício de R$
                    465,00 destinado a alunos com
                    dificuldades financeiras EMERGENCIAIS que coloquem em risco sua
                    permanência na UnB. O aluno que se aplica para essa modalidade não pode
                    receber benefícios do programa de assistência estudantil.
                </li>
                <li>Vale livro: Editora UnB disponibiliza aos
                    estudantes de graduação em situação
                    de vulnerabilidade socioeconômica 05 vales por semestre, com desconto de
                    60% nos livros da Editora.
                </li>
                <li>Acesso à língua estrangeira: A UnB idiomas disponibiliza aos estudantes
                    PPAES, em cada semestre letivo, uma vaga por turma nos cursos de línguas
                    oferecidos com isenção de mensalidade. As inscrições são realizadas no
                    Programa de Extensão UnB Idiomas, de acordo com critérios e calendário
                    próprios disponíveis na página da UnB Idiomas. www.unbidiomas.unb.br
                </li>
            </ul>

            <h2>Existe um limite para utilizar os programas da assistência?</h2>
            <p>Os Programas de Assistência Estudantil são acumuláveis com o recebimento de bolsas
                acadêmicas, porém a soma dos benefícios pecuniários da Assistência Estudantil
                recebidos pelo estudante não poderá ultrapassar o valor de 1,5 salário mínimo.</p>

            <h2>Como se inscrever nos programas de assistência estudantil?</h2>
            <ol>
                <li>Pela avaliação socioeconômica: que avalia as condições financeiras do
                    estudante para classificá-lo como apto a
                </li>
                <li>Fazer a inscrição da avaliação socioeconômica online no site SAEWeb
                    www.servicos.unb.br/sae
                    a. Para se inscrever na seleção dos Programas de assistência o estudante
                    deve assinalar a intenção de concorrer ao(s) respectivo(s) Programa(s)
                    no SAEWeb durante o preenchimento da Avaliação Socioeconômica
                </li>
                <li>Preencher o formulário com as informações solicitadas</li>
                <li>Acompanhar o andamento da avaliação socioeconômica através do SAEWeb</li>
                <li>Assinar o Termo de Concessão (caso seja selecionado) junto ao Serviço de
                    Programas de Desenvolvimento Social (SPS) em data estabelecida no
                    cronograma do edital de avaliação socioeconômica
                </li>
                <li>Os candidatos classificados, mas não selecionados ficarão em lista de espera
                    que terá validade até o último dia de aula do respectivo semestre
                </li>
            </ol>

            <ul>
                <li>Se houver dúvida, entre em contato com o SPS</li>
                <li>Em caso de erro tire um print para comprovar</li>
                <li>A ANÁLISE DA DOCUMENTAÇÃO SERÁ REALIZADA EM PERÍODO
                    ESTABELECIDO NO CRONOGRAMA DO EDITAL do respectivo semestre
                </li>
            </ul>
            <h2>Qual a documentação exigida para preencher o formulário do SAEWeb?</h2>
            <p>Consultar o edital de avaliação econômica do respectivo semestre. </p>

            <h2>É possível interpor recurso contra o resultado?</h2>
            <p>O estudante que desejar interpor recurso ao resultado preliminar da Avaliação
                Socioeconômica deverá fazer a solicitação em formulário próprio no SPS do seu
                campus de origem em prazo estabelecido no cronograma do Edital.</p>
            <h2>Validade da Avaliação socioeconômica:</h2>
            <ul>
                <li>Estudantes nas modalidades Auxílio Moradia e Auxílio Transporte
                    deverão realizar anualmente a renovação para permanência no Programa, a ser regida
                    por Edital específico; Estudante pode ser desligado dessas modalidades se
                    exceder dois semestres do tempo regular de conclusão do seu curso de
                    graduação.
                </li>
                <li>A validade da Avaliação Socioeconômica para se manter nos demais programas
                    da assistência estudantil é de 10 (dez) semestres letivos consecutivos.
                </li>
                <li>o monitoramento da referida validade de responsabilidade exclusiva do estudante.
                </li>
            </ul>

            <h2> Renovação da avaliação socioeconômica </h2>
            <p>No décimo semestre de validade da Avaliação Socioeconômica, o
                estudante que tiver interesse de manter seu vínculo com a Assistência Estudantil deverá
                submeter-se ao Edital de Avaliação Socioeconômica do semestre da renovação
                e preencher um novo formulário no SAEWeb enviando os documentos
                atualizados conforme o Edital vigente à época.</p>

            <p>Caso tenha alguma dúvida em como ter acesso aos programas da assistência, leia o
                EDITAL de AVALIAÇÃO SOCIOECONÔMICA que é disponibilizado no site da Diretoria
                de Desenvolvimento Social (DDS) todo semestre ou ligue para a DDS.</p>
        </div>
    </div>
{% endblock %}