{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center">Guias CADir UnB</h1>
            <p class="text-justify"> {% lorem %}</p>
            <div class="list-group">
                {% for guias in Guias %}
                    <!-- Redireciona para o dowload do arquivo ou o link ou nada -->
                    <a href="{% if guias.file %} {% get_media_prefix %}{{ guias.file }}
                                {% elif guias.link %} {{ guias.link }}
                                {% else %} # {% endif %}" target="_blank"
                       class="list-group-item list-group-item-action">
                        {% if guias.file or guias.link %}
                            <span class="text-primary"> {{ guias.nome }} </span>
                        {% else %}
                            <span class="text-muted"> {{ guias.nome }} </span>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}