{% extends 'base.html' %}

{% load static %}
{% block content %}
    

<div class="container padding">
    <div class="jumbotron">
        <h1 class="text-center">Guias CADir UnB</h1>
        <p class="text-justify"> {% lorem %}</p>

        <!-- Cartões para os guias estáticos -->
        <!---->
                
                <!-- <div class="card-deck">
                    
                    <div class="card">
                        <a href="#"><img class="card-img" src="../../media/guia.jpeg" alt="Bologna"></a>
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Manual do Calouro</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary">Ler Guia</a>
                    </div>
                    
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Fluxo</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Monitoria</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Matrícula Web</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    
                </div> 
                    
                    
                
                <div class="card-deck">
                
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Assistência Estudantil</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    <
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Transporte</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    <!
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                           </div>
                        <div class="card-body">
                            <h4 class="card-title">PCNE</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Aluno de Transferência</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    
                </div> 
                    

                
                <div class="card-deck center">
                    
                     <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a href="#" class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <a href="#"><h4 class="card-title">Aluno Estrangeiro</h4></a>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <img class="card-img" src="../../media/guia.jpeg" alt="Bologna">
                        <div class="card-img-overlay">
                            <a href="#" class="btn btn-light btn-sm">Tema</a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Como andar na UnB</h4>
                            <small class="text-muted cat">
                                <i class="far fa-clock text-info"></i> 30 minutos
                            </small>
                            <p class="card-text">Lorem ipsum vehicula torquent nisl dapibus nisi phasellus ad, morbi vehicula massa nec erat iaculis. </p>
                            <a href="#" class="btn btn-primary">Ler Guia</a>
                        </div>
                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                            <div class="views">02/08/2019
                            </div>
                        </div>
                    </div> 

                    <div class="card" style="width: 18rem;">
                        <img src="../../media/guia.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <small class="text-muted cat">
                                    <i class="far fa-clock text-info"></i> 30 minutos
                                </small>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary card-link">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                            <img src="../../media/guia.jpeg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <small class="text-muted cat">
                                        <i class="far fa-clock text-info"></i> 30 minutos
                                    </small>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                                <img src="../../media/guia.jpeg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card titleedwededwedwedwedwdwdwdwdwe</h5>
                                    <small class="text-muted cat">
                                            <i class="far fa-clock text-info"></i> 30 minutos
                                        </small>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                            <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                                    <div class="card-header bg-transparent">Header</div>
                                    <div class="card-body text-success">
                                      <h5 class="card-title">Success card title</h5>
                                      <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                                    </div>
                                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">Footer</div>
                                  </div>

                </div>  -->
        
        <div class="card-deck text-center">

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Manual do Calouro</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:manual_do_calouro' %}">Ler Guia</a>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Fluxo Esquematizado</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:fluxo' %}">Ler Guia</a>
                    </div>
                </div>
                
                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Monitoria</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:monitoria' %}">Ler Guia</a>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Matrícula Web</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:matricula_web' %}">Ler Guia</a>
                    </div>
                </div>

        </div>

        <div class="card-deck text-center">

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Assistência Estudantil</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:assistencia_estudantil' %}">Ler Guia</a>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Transporte</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:transporte' %}">Ler Guia</a>
                    </div>
                </div>
                
                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Aluno PCNE</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:pcne' %}">Ler Guia</a>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Aluno de Transferência</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:transferencia' %}">Ler Guia</a>
                    </div>
                </div>
                
        </div>

        <div class="card-deck text-center">

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Aluno Estrangeiro</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the card title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:aluno_estrangeiro' %}">Ler Guia</a>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 18rem; border-color: #001652 !important;">
                    <div class="card-body text-success">
                        <h5 class="card-title">Prédios da UnB</h5>
                        <small style="padding-bottom: 10px;" class="text-muted cat">
                            <i class="far fa-clock text-info"></i> 30 minutos
                        </small>
                        <p class="card-text">Quick sample text to create the c">ard title and make up the body of the card's content.</p>
                    </div>
                    <div class="card-footer bg-transparent" style="border-color: #001652 !important;">
                        <a style="color: #001652; font-size: .9rem;" href="{% url 'guias:predios_unb'%}">Ler Guia</a>
                    </div>
                </div>
                
        </div>

        

        <h2 class="text-center">Gostou? Encontre mais guias abaixo!</h2>
        <br>
        <!-- Guias que serão links externos -->
        <div class="list-group">
            {% for guias in Guias %}
                <!-- Redireciona para o dowload do arquivo ou o link ou nada -->
                <a href="{% if guias.file %} {% get_media_prefix %}{{ guias.file }}
                            {% elif guias.link %} {{ guias.link }}
                            {% else %} # {% endif %}" target="_blank"
                    class="list-group-item list-group-item-action">
                    {% if guias.file or guias.link %}
                        <span class="text-primary"> {{ guias.nome }} </span>
                    {% else %}
                        <span class="text-muted"> {{ guias.nome }} </span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}