{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center">Guia da Monitoria</h1>

            <div class="paragraph">
                <h4 class="text-center">O que é a monitoria?</h4>
                <p>A monitoria é um instrumento de ensino, onde se estabelecem novas metodologias pedagógicas através do incremento da teoria e da prática, fomentando a cooperação entre o professor e o aluno, promovendo uma formação acadêmica ampla e aprofundada, além de maior participação e integração do discente no âmbito da Universidade. 
                Regulada pelo Resolução do Conselho de Ensino, Pesquisa e Extensão n° 008/90 , é entendida na resolução como uma modalidade específica de ensino, encontrando-se inserida no planejamento das atividades de pesquisa, ensino e extensão. 
                Pode-se considerar que o maior objetivo da monitoria é despertar o interesse dos discentes nas áreas da docência e da pesquisa, já que possibilita o despertar da vocação acadêmica, através da atuação direta com os docentes, planejando atividades, trabalhando na preparação das aulas, avaliações e orientando os demais alunos, sempre sob a supervisão do docente responsável.
                </p>
            </div>
        </div>
    </div>
{% endblock %}