{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center">Guia da Monitoria</h1>

            <div class="paragraph">
                <h4>O que é a monitoria?</h4>
                <p>A monitoria é um instrumento de ensino, onde se estabelecem novas metodologias pedagógicas através do incremento da teoria e da prática, fomentando a cooperação entre o professor e o aluno, promovendo uma formação acadêmica ampla e aprofundada, além de maior participação e integração do discente no âmbito da Universidade. <br><br>
                <span class="underline">Regulada pelo Resolução do Conselho de Ensino, Pesquisa e Extensão n° 008/90</span> , é entendida na resolução como uma modalidade específica de ensino, encontrando-se inserida no planejamento das atividades de pesquisa, ensino e extensão. <br><br>
                Pode-se considerar que o maior objetivo da monitoria é despertar o interesse dos discentes nas áreas da docência e da pesquisa, já que possibilita o despertar da vocação acadêmica, através da atuação direta com os docentes, planejando atividades, trabalhando na preparação das aulas, avaliações e orientando os demais alunos, sempre sob a supervisão do docente responsável.
                </p>
            </div>

            <div class="paragraph">
                <h4>Modalidades de Monitoria</h4>
                <ul>
                    <li> <span class="text-uppercase">Bolsistas</span>
                        <ul>
                            <li> Possuem remuneração financeira, através de uma bolsa semestral de R$ 450,00</li>
                        </ul>
                    </li>
                    <li> <span class="text-uppercase">Voluntários</span>
                        <ul>
                            <li>Não há compensação financeira</li>
                        </ul>
                    </li>
                </ul>
                <p>Em ambas as categorias o monitor é recompensado com 2 créditos.</p>
            </div>

            <div class="paragraph">
                <h4>Quais atividades o monitor realizará?</h4>
                <p>As atividades do monitor sempre obedecerão à programação elaborada pelo professor responsável. Então procure se informar se as atividades planejadas pelo docente estão de acordo com suas expectativas de monitoria. <br><br>
                   As atividades da monitoria não poderão sobrepor-se ou interferir nos horários de outras disciplinas ou quaisquer atividades necessárias à sua formação. 
                </p>
            </div>

            <div class="paragraph">
                <h4>Como ser monitor?</h4>
                <p>O estudante interessado na monitoria deverá seguir o formulário de inscrição disponibilizado pela Coordenação
                    pouco antes de cada semestre letivo e acompanhar o trâmite da solicitação de inscrição. <br><br>
                    As inscrições para monitoria seguirão rigorosamente os prazos estabelecidos no Calendário Universitário de
                    Graduação, disponível <a href="http://www.saa.unb.br/graduacao">aqui</a>. <br><br>
                    Esses prazos geralmente são divulgadas pela Coordenação da Faculdade de Direito.
                    Procure falar com o professor a respeito do seu interesse em ser monitor.</p>
            </div>

            <div class="paragraph">
                <h4>Requisitos para participar da monitoria</h4>
                <ol>
                    <li>Ser aluno regularmente matriculado na UnB</li>
                    <li>Ter obtido aprovação na disciplina na qual se deseja exercer a monitoria</li>
                    <li>Disponibilidade para atender às atividades programadas</li>
                    <li>Estar matriculado no número mínimo de créditos no curso</li>
                    <li>Não estar usufruindo de outro tipo de bolsa remunerada oferecida pela UnB (somente no caso
                            de monitoria remunerada)</li>
                </ol>
            </div>

            <div class="paragraph">
                <h4>Formulários</h4>
                <p>Formulário de Inscrição de Monitoria de Graduação (<span class="underline">PDF</span>) (<span class="underline">DOC</span>)</p>
                <p>Relatório de Atividades de Monitoria - Aluno - (<span class="underline">PDF</span>) (<span class="underline">DOC</span>)</p>
                <p>Se persistirem dúvidas, consulte o DEG (Decanato de Ensino de Graduação) ou a secretaria da FD.</p>
            </div>

            <div class="paragraph">
                <p>Para mais informações, clique <a href="http://www.deg.unb.br/monitoria">aqui.</a></p>
                <img class="img-fluid" src="{% get_media_prefix %}/guias_img/monitoria/monitoria1.png" alt="">
            </div>
        </div>
    </div>
{% endblock %}