{% extends 'base.html' %}

{% load static %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center"> Guias prédios UnB </h1>

            <div class="text-center paragraph pt-5">
                <h2 class="text-center"> Prédios na parte norte</h2>
                <hr class="socket">
                <div>
                    <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/darcy_1.png"
                         align="Foto Campus Darcy Ribeiro de cima">
                </div>
            </div>

            <div class="paragraph pt-5">
                <h2 class="text-center"> Faculdade de Direito(UnB) </h2>
                <hr class="socket">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/fd_1.png"
                                 alt="Imagem da faixada do prédio da FD">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/fd_2.png"
                                 alt="Imagem interna do FD">
                        </div>
                    </div>
                </div>
            </div>

            <div class="paragraph pt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> Bloco de Salas de Aula Norte (BSAN)</h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/bsan.png"
                                 align="Foto do prédio do BSAN">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> Bloco de Salas de Aula Sul (BSAS)</h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/bsas.png"
                                 alt="Foto do prédio do BSAS">
                        </div>
                    </div>
                </div>

            </div>

            <div class="paragraph pt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> BAES - Bloco de Salas de Aula Eudoro
                                de Sousa (Prédio da assistência estudantil)</h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/baes.png"
                                 alt="Foto do prédio do BAES">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> FACE - Faculdade de Economia, Administração, Contabilidade e Gestão
                                Pública</h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/face.png"
                                 alt="Foto do prédio FACE">
                        </div>
                    </div>
                </div>
            </div>


            <div class="paragraph pt-5">
                <div class="row">

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> Pavilhão Anísio Teixeira (PAT) </h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/pat.png"
                                 align="Foto do prédio PAT">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> Pavilhão João Calmon (PJC)</h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/pjc.png"
                                 alt="Foto do prédio PJC">
                        </div>
                    </div>
                </div>
            </div>

            <div class="paragraph pt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center"> Prédio da Ciência da Computação (CIC)
                                e Estatística (EST) </h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/cic.png"
                                 alt="Foto do prédio do CIC">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <h2 class="text-center">Instituto de Relações Internacionais (IREL)
                                e de Ciência Política (IPOL)</h2>
                            <hr class="socket">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/ipol.png"
                                 alt="Foto do prédio IPOL">
                        </div>
                    </div>
                </div>
            </div>


            <div class="paragraph pt-5 text-center">
                <h2 class="text-center"> Instituto Central de Ciências (ICC) </h2>
                <hr class="socket">
                <div>
                    <div class="grid-paragraph">
                        <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/unb_2.png"
                             alt="Foto do ICC">
                    </div>
                </div>

                <div>
                    <div class="grid-paragraph">
                        <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/unb_3.png"
                             alt="Foto do ICC 2">
                    </div>
                </div>
            </div>

            <div class="paragraph pt-5">
                <h2 class="text-center"> Amarelinho </h2>
                <hr class="socket">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/amarelinho_1.png"
                                 alt="Foto do amarelinho">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/amarelinho_2.png"
                                 alt="Foto do amarelinho">
                        </div>
                    </div>
                </div>
            </div>

            <div class="paragraph pt-5">
                <h2 class="text-center"> Faculdade de Tecnlogia </h2>
                <hr class="socket">
                <div class="text-center">
                    <img class="img_predios" style="width: 80%;" src="{% get_media_prefix %}guias_img/predios/ft.png"
                         alt="Foto da FT">
                </div>
            </div>

            <div class="paragraph pt-5">
                <h2 class="text-center"> Restaurante Universitário (RU) </h2>
                <hr class="socket">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/ru_1.png"
                                 alt="Foto do RU">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/ru_2.png"
                                 alt="Foto do RU 2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="paragraph pt-5">
                <h2 class="text-center"> Biblioteca Central (BCE) </h2>
                <hr class="socket">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/bce_1.png"
                                 alt="Foto do BCE">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="grid-paragraph">
                            <img class="img_predios" src="{% get_media_prefix %}guias_img/predios/bce_2.png"
                                 alt="Outra Foto do BCE">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}