{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% block content %}

    <!-- ***********************MAIN SLIDER****************************** -->

    <div class="carousel slide" data-interval="3000" data-ride="carousel" id="carouselExampleIndicators">
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
            <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
            <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div id="fisrt-slider" class="carousel-item active"
                 style="background-image:linear-gradient(rgba(255, 255, 255, 0.255), rgba(255,255,255,0.25)), url(../../media/law.jpg);
                        background-size: cover">
                <div class="carousel-caption text-center">
                    <h1>Direito UnB</h1>
                    <h3>{% lorem 5 w %}</h3>
                </div>
            </div>
            <div id="second-slider" class="carousel-item"
                 style="background-image:linear-gradient(rgba(255, 255, 255, 0.25), rgba(255,255,255,0.25)), url(../../media/estante1.jpg);
                        background-size: cover">
                <div class="carousel-caption text-center">
                    <h1>Direito UnB</h1>
                    <h3>{% lorem 5 w %}</h3>
                </div>
            </div>
            <div id="third-slider" class="carousel-item"
                 style="background-image:linear-gradient(rgba(255, 255, 255, 0.25), rgba(255,255,255,0.25)), url(../../media/domino.jpg);
                        background-size: cover">
                <div class="carousel-caption text-center">
                    <h1>Direito UnB</h1>
                    <h3>{% lorem 5 w %}</h3>
                </div>
            </div>
        </div>
        <a href="#carouselExampleIndicators" class="carousel-control-prev" role="button" data-slide="prev"
           onclick="$('#myCarousel').carousel('prev')">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#carouselExampleIndicators" class="carousel-control-next" role="button" data-slide="next"
           onclick="$('#myCarousel').carousel('next')">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
    <!-- *********************** END MAIN SLIDER ************************ -->
    <!-- Texto que fica abaixo do cartão de visitas -->

    <div class="padding">
        <div class="container">
            <div class="text-center">
                <h2>O que é o Centro Acadêmico de Direito?</h2>
            </div>
            <p align="justify">O Centro Acadêmico de Direito da Universidade de Brasília é o órgão representativo de todas/os estudantes de Direito da UnB. Trata-se de associação independente e plural, fundada em 25 de novembro de 1993 e filiada à União Nacional dos Estudantes. Seu principal objetivo é representar e defender os interesses discentes. Ao desenvolver atividades acadêmicas, sociais, políticas, jurídicas, culturais e recreativas, visa enriquecer a formação das/os estudantes de Direito. Além disso, objetiva fortalecer e mobilizar as entidades estudantis. Sobretudo, traduz-se em instrumento de luta por uma Universidade pública, de qualidade, e pela defesa de direitos, da igualdade e da justiça social.</p>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'institucional:institucional_index' %}">Ler Mais</a>
            </div>
        </div>
    </div>

    <!-- Area que seria uma preview dos guias -->
    <div class="padding">
        <div class="container guias">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 py-2">
                    <h4>Como usar o Matrícula Web</h4>
                    <hr class="socket">
                    <p align="justify">{% lorem 35 w %}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 py-2">
                    <img class="img-responsive" src="../../media/MW.png">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 py-2">
                    <h4>Manual do Calouro</h4>
                    <hr class="socket">
                    <p align="justify">{% lorem 35 w %}</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 py-2">
                    <img src="../../media/manual.jpeg">
                </div>
            </div>
            <br>
            <div class="text-center ver-mais">
                <a class="btn btn-primary" href="{% url 'guias:guias_index' %}">Mais Guias Estudantis</a>
            </div>
        </div>
    </div>

    <!-- Imagem de espaçamento -->
    <div id="fixed"></div>

    <!-- Apresentação genérica sobre os programas do direito -->
    <div class="padding">
        <div class="container">
            <div class="text-center">
                <h2>Programas da Faculdade de Direito - UnB</h2>
            </div>
            <p align="justify">O corpo discente da Faculdade de Direito é bastante ativo, há uma diversidade de programas de iniciativa estudantil, estes permitem que os alunos se engajem em atividades de extensão, um dos componentes do tripé que constitui a proposta inicial pensada para a Universidade de Brasília, empresa júnior e atlética. Essas iniciativas expandem os horizontes e enriquecem a vivência acadêmica.</p>
        </div>
    </div>

    <!-- Programas do direito -->
    <div class="">
        <section id="responsive">
            <div class="container-fluid">
                <div class="card-deck">
                    {% for programa in Programas %}
                        <div data-aos="fade-up" class="card" style="width: 18rem;">
                            <a href="{% url 'programas:show' pk=programa.id %}">
                                <img alt="Card image cap" class="card-img-top"
                                     style="border-radius: 50%;"
                                     src="{% get_media_prefix %}{{ programa.logo }}" height="291.75" width="291.75">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title text-center font-weight-bold">{{ programa.nome }}</h5>
                                <p align="justify">{{ programa.text|bleach|truncatewords:25 }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center ver-mais">
                    <a class="btn btn-primary" href="{% url 'programas:programas_index' %}">Ver Mais Programas</a>
                </div>
            </div>
        </section>
    </div>

    <div id="fixed2"></div>

    <div class="padding">
        <div class="container">
            <div class="text-center">
                <h2> Eventos do Direito UnB</h2>
            </div>
            <p align="justify">Sabemos que a formação de um bom jurista vai muito além da sala de aula. Por mais importantes que sejam os conteúdos ministrados, atividades extracurriculares são essenciais não só na formação acadêmica, mas de um cidadão. Tendo isso em mente, o Centro Acadêmico de Direito criou um espaço para que os estudantes possam se inteirar dos diversos eventos relacionados ao Direito que ocorrem semestralmente na Universidade. Então marque na sua agenda e fique por dentro das diversas atividades que ocorrem pelo campus!</p>   
        </div>
    </div>

    <!-- Slider Eventos-->
    <!-- <div class="container-fluid">
        <div id="shrink">
            <div id="carouselEventos" data-interval="3000" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselEventos" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselEventos" data-slide-to="1"></li>
                    <li data-target="#carouselEventos" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    {% for evento in Eventos %}
                        <div class="carousel-item {% if forloop.first %} active {% endif %}">

                            <img src="{% get_media_prefix %}{{ evento.show_img }}"
                                 class="img-fluid d-block high-brightness">

                            <a class="nounderline" href="{% url 'eventos:show' pk=evento.id %}">
                                <div class="carousel-caption">
                                    <h3>{{ evento.title }}</h3>
                                    <p>{{ evento.desc | truncatewords:8 }}</p>
                                    <div>
                                        {% if evento.start_day == evento.end_day %}
                                            <i class="fas fa-calendar-week"></i> {{ evento.start_day }} <br>
                                        {% else %}
                                            <i class="fas fa-calendar-week"></i> {{ evento.start_day }} -
                                            {{ evento.end_day }}<br>
                                        {% endif %}
                                        {% if evento.isAllDay %}
                                            <i class="fas fa-map-marker-alt"></i> {{ evento.local }}
                                        {% else %}
                                            <i class="far fa-clock"></i> {{ evento.start }} - {{ evento.end }}
                                            <i class="fas fa-map-marker-alt"></i> {{ evento.local }}
                                        {% endif %}
                                    </div>
                            </a>
                        </div>
                        </div>
                    {% endfor %}

                <a href="#carouselEventos" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">prev</span>
                </a>
                <a href="#carouselEventos" class="carousel-control-next" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">next</span>
                </a>
            </div>
        </div>
        <div>
            <div class="text-center ver-mais">
                <a class="btn btn-primary" href="{% url 'eventos:eventos_index' %}">Ver Mais Eventos</a>
            </div>
        </div>
    </div> -->
    <!-- Disposição alternativa dos eventos -->
    <div class="container guias">
        <div class="row">
            {% for evento in Eventos %}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 py-2">
                    <a href="{% url 'eventos:show' pk=evento.id %}"><h4>{{ evento.title }}</h4><a>
                    <hr class="socket">
                    <p allign="justify">{{ evento.desc | truncatewords:20 }}</p>
                    <div>
                        {% if evento.start_day == evento.end_day %}
                            <i class="fas fa-calendar-week"></i> {{ evento.start_day }} <br>
                        {% else %}
                            <i class="fas fa-calendar-week"></i> {{ evento.start_day }} -
                            {{ evento.end_day }}<br>
                        {% endif %}
                        {% if evento.isAllDay %}
                            <i class="fas fa-map-marker-alt"></i> {{ evento.local }}
                        {% else %}
                            <i class="far fa-clock"></i> {{ evento.start }} - {{ evento.end }}
                            <i class="fas fa-map-marker-alt"></i> {{ evento.local }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="text-center ver-mais">
            <a class="btn btn-primary" href="{% url 'eventos:eventos_index' %}">Mais Eventos</a>
        </div>
    </div>
    
{% endblock %}
