{% extends 'base.html' %}

{% block content %}

    <!-- Cartao de visitas do site -->
    <div id="home">
        <div class="landing-text">
            <h1>Direito UnB</h1>
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>(Melhorar cores)</p>
        </div>
    </div>
    <!-- <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carouselExampleIndicators">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
                <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url(../../media/law.jpg);">
                    <div class="carousel-caption text-center">
                        <h1>Direito UnB</h1>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(../../media/reuniao.jpg);">
                    <div class="carousel-caption text-center">
                        <h1>Direito UnB</h1>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </div>
                <div class="carousel-item" style="background-image: url(../../media/books.jpg);">
                    <div class="carousel-caption text-center">
                        <h1>Direito UnB</h1>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- Texto que fica abaixo do cartão de visitas -->
    <div class="padding">
        <div class="container">
            <div class="text-center">
                <h2>Algum Título Qualquer Sobre o CADir</h2>
            </div>
            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dolores nesciunt consequatur sunt modi quaerat laudantium, facere eos quasi consectetur beatae dolorem minus! Voluptatibus repellat, dolores perspiciatis quaerat ad facilis ex quod magni, ea voluptates officia assumenda cumque maiores cupiditate aperiam sint deleniti eaque cum asperiores doloribus velit? Dolor, quam velit fuga voluptatum officiis quasi cum rerum inventore quae pariatur, quos deleniti perspiciatis aliquid nam accusantium sint error? Aspernatur obcaecati fugiat nobis ea corporis provident eius laudantium dolore, velit nam porro deleniti repudiandae earum doloremque voluptatum animi mollitia odit nisi sequi minus soluta perspiciatis architecto? Dolorem totam quidem vero? Iure?</p>
            <div class="text-center">
                <a class="btn btn-primary" href="#">Ler Mais</a>
            </div>
        </div>
    </div>

    <!-- Area que seria uma preview dos guias -->
    <div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Como usar Matrícula Web</h4>
                    <p align="justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et voluptatibus modi fuga iste veritatis, molestias quo rerum, optio sint commodi ut, hic non minima omnis possimus fugit cumque! Velit, corrupti.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img class="img-responsive" src="../../media/MW.png">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <h4>Manual do Calouro</h4>
                    <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum minima voluptatibus impedit quod! Dolorem iure autem dolorum commodi quas dolore quidem, sequi, omnis ad, debitis obcaecati voluptatum pariatur asperiores? Vel.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <img src="../../media/manual.jpeg">
                </div>
            </div>
            <div class="text-center ver-mais">
                <a class="btn btn-primary" href="#">Mais Guias Estudantis</a>
            </div>
        </div>
    </div>

    <!-- Imagem de espaçamento -->
    <div id="fixed"></div>

    <!-- Apresentação genérica sobre os programas do direito -->
    <div class="padding">
        <div class="container">
            <div class="text-center">
                <h2>Programas da Faculdade de Direito - UnB</h2>
            </div>
            <p align="justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quia deleniti neque ullam a amet impedit obcaecati veritatis culpa veniam consequatur velit repellendus perferendis ipsa, sequi corrupti. Numquam consectetur ratione esse aliquam velit laudantium. Odit consequuntur quidem porro libero reprehenderit praesentium ducimus provident non facilis quas, iure ratione ab iusto modi, pariatur dolores fuga est? Consequuntur eos natus necessitatibus inventore! Dignissimos molestiae minima placeat nam, officia maxime perspiciatis hic error rem iusto. Alias ullam sapiente temporibus placeat culpa, delectus reprehenderit deserunt nam laborum, ipsa laboriosam similique! Veniam facere eum voluptatem numquam necessitatibus quidem, rerum assumenda error inventore eius a nesciunt.</p>
        </div>
    </div>

    <!-- Area que seria uma preview dos programas Estudantis
            Nao tem como fazer um cartão pra todo mundo, tentar
            deixar de um jeito que fique rodando aleatoriamente -->
    <div class="padding">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top" src="../../media/olimpia.jpeg">
                <div class="card-body">
                    <h5 class="card-title text-center">Atlética</h5>
                    <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto qui dolorum ab placeat sunt! Saepe officia eius error, aut tempora natus dicta, laudantium consectetur rerum eveniet eum enim quis harum.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top" src="../../media/advocatta.jpeg">
                <div class="card-body">
                    <h5 class="card-title text-center">Empresa Júnior</h5>
                    <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto qui dolorum ab placeat sunt! Saepe officia eius error, aut tempora natus dicta, laudantium consectetur rerum eveniet eum enim quis harum.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top" src="../../media/pet.png">
                <div class="card-body">
                    <h5 class="card-title text-center">PET Direito</h5>
                    <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto qui dolorum ab placeat sunt! Saepe officia eius error, aut tempora natus dicta, laudantium consectetur rerum eveniet eum enim quis harum.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top" src="../../media/direito_animated.svg">
                <div class="card-body">
                    <h5 class="card-title text-center">A Faculdade</h5>
                    <p align="justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto qui dolorum ab placeat sunt! Saepe officia eius error, aut tempora natus dicta, laudantium consectetur rerum eveniet eum enim quis harum.</p>
                </div>
            </div>
        </div>
        <div class="text-center ver-mais">
            <a class="btn btn-primary" href="#">Ver Mais Programas</a>
        </div>
    </div>


{% endblock %}
