{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">Eventos CADir UnB</h1>
            <script>
                // A url dessa API recebe os seguintes parâmetros:
                // json = true -> para receber os dados em json
                // ano = 2019 -> ano dos feriados
                // ibge = 5300108 -> código ibge da cidade, no caso esse é o de brasília
                // token = ZHJlYW1zc3dpdGNoQGdtYWlsLmNvbSZoYXNoPTExODE3Mjk0OQ -> token de acesso a api (não sei onde colocar qnd dermos o deploy)
                const api_url = 'https://api.calendario.com.br/?json=true&ano=2019&ibge=5300108&token=ZHJlYW1zc3dpdGNoQGdtYWlsLmNvbSZoYXNoPTExODE3Mjk0OQ';
                async function get_hollidays (api_url) {
                    const response = await fetch(api_url);
                    const data = await response.json();
                    console.log(data);
                }
                get_hollidays(api_url);
                $(function () {
                    $('#calendar').fullCalendar({
                        plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            // dayGridMonth, timeGridMonth, timeGridDay not workings
                            right: 'dayGridMonth, timeGridMonth, timeGridDay, month , listMonth'
                        },
                        buttonIcons: false,
                        navLinks: true,
                        eventLimit: true,

                        locale: 'pt-br',

                        eventRender: function (eventObj, $el) {
                            // Analisando se o evento é o dia inteiro para modificar layout do hover
                            var conteudo;
                            if (eventObj.allDay) {
                                conteudo = '<div>' + eventObj.description + '</div>' +
                                    '<div><i class="far fa-clock"></i>' + ' ' + "Dia inteiro" + ' ' +
                                    '<i class="fas fa-map-marker-alt"></i>' + ' ' + eventObj.local + '</div>'
                            } else {
                                conteudo = '<div>' + eventObj.description + '</div>' +
                                    '<div><i class="far fa-clock"></i>' + ' ' + eventObj.start_time + ' - ' + eventObj.end_time + ' ' +
                                    '<i class="fas fa-map-marker-alt"></i>' + ' ' + eventObj.local + '</div>'
                            }
                            $el.popover({
                                title: eventObj.title,
                                html: true,
                                content: conteudo,
                                trigger:
                                    'hover',
                                placement:
                                    'top',
                                container:
                                    'body'
                            })
                            ;
                        },

                        events: [
                            {% for evento in Eventos %}
                                {
                                    id: '{{ evento.id }}',
                                    allDay: {{ evento.isAllDay|lower }},
                                    description: '{{ evento.desc|truncatewords:20 }}',
                                    title: '{{ evento.title }}',
                                    start: '{{ evento.start_day|date:'Y-m-d' }}T{{ evento.start|time:"H:i" }}',
                                    end: '{{ evento.end_day|date:'Y-m-d' }}T{{ evento.end|time:"H:i" }}',
                                    start_time: '{{ evento.start|time:"H:i" }}',
                                    end_time: '{{ evento.end|time:"H:i" }}',
                                    local: '{{ evento.local }}',
                                    backgroundColor: '#001652',
                                    borderColor: '#001652',
                                    textColor: 'white',
                                    url: '{% url 'eventos:show' pk=evento.id %}'
                                },
                            {% endfor %}
                        ]
                    });
                });
            </script>
            <br>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}