{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> Futura Página dos Eventos</h1>

    <script>
    $(function() {

    $('#calendar').fullCalendar({
      defaultView: 'month',
      defaultDate: '2018-12-12',
  
      eventRender: function(eventObj, $el) {
        $el.popover({
          title: eventObj.title,
          content: eventObj.description,
          trigger: 'hover',
          placement: 'top',
          container: 'body'
        });
      },
  
      events: [
        {% for evento in Eventos %}
            {
                id: '{{ evento.id }}',
                allDay: {{ evento.isAllDay|lower }},
                description: '{{ evento.desc }}',
                title: '{{ evento.title }}',
                start: '{{ evento.day|date:'Y-m-d' }}T{{ evento.start|time:"H:i" }}',
                end: '{{ evento.day|date:'Y-m-d' }}T{{ evento.end|time:"H:i" }}',
            },
        {% endfor %}
      ]
    }); 
});
    </script>
    <div id='loading'>loading...</div>
    <div id='calendar'></div>
{% endblock %}