{% extends 'base.html' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1> Futura Página dos Eventos</h1>

    <script>

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                plugins: ['interaction', 'dayGrid', 'list', 'googleCalendar'],

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listYear'
                },

                displayEventTime: false, // don't show the time column in list view

                // THIS KEY WON'T WORK IN PRODUCTION!!!
                // To make your own Google API key, follow the directions here:
                // http://fullcalendar.io/docs/google_calendar/
                googleCalendarApiKey: 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',

                // US Holidays
                //events: 'en.usa#holiday@group.v.calendar.google.com',
                // Get Eventos from bd
                events: [

                    {% for evento in Eventos %}
                        {
                            id: '{{ evento.id }}',
                            allDay: {{ evento.isAllDay|lower }},
                            title: '{{ evento.title }}',
                            start: '{{ evento.day|date:'Y-m-d' }}T{{ evento.start|time:"H:i" }}',
                            end: '{{ evento.day|date:'Y-m-d' }}T{{ evento.end|time:"H:i" }}',
                        },
                    {% endfor %}

                ],

                eventClick: function (arg) {
                    // opens events in a popup window
                    window.open(arg.event.url, 'google-calendar-event', 'width=700,height=600');

                    arg.jsEvent.preventDefault() // don't navigate in main tab
                },

                loading: function (bool) {
                    document.getElementById('loading').style.display =
                        bool ? 'block' : 'none';
                }

            });
            console.log(calendar.getEvents());
            calendar.render();
        });

    </script>
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #loading {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>

    <div id='loading'>loading...</div>
    <div id='calendar'></div>
{% endblock %}