{% extends 'base.html' %}

{% load static %}
{% load bleach_tags %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <div class="container text-center">
                {% if Evento.show_img %}
                    <img src="{% get_media_prefix %}{{ Evento.show_img }}" class="img-fluid rlx-bro">
                {% endif %}
            </div>
            <h1 class="text-center font-weight-bold"> {{ Evento.title }} </h1>

            <div class="py-3">
                <audio controls style="margin: 0 auto; display: block;">
                    <source src="{% get_media_prefix %}audio/eventos/{{ Evento.id }}.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            </div>


            <p class="text-center">{{ Evento.desc }}</p>
            <div class="container">
                <div class="jumbotron">
                    <div class="text-center">
                        <h2>E como vai funcionar?</h2>
                        <ul class="list-group" style="list-style: none">
                            {% if Evento.start_day == Evento.end_day %}
                                <li>O evento será dia {{ Evento.start_day }}</li>
                            {% else %}
                                <li>O evento será de {{ Evento.start_day }} até {{ Evento.end_day }}</li>
                            {% endif %}
                            {% if Evento.isAllDay %}
                                <li> O dia todo</li>
                            {% else %}
                                <li>Das {{ Evento.start }} às {{ Evento.end }}</li>
                            {% endif %}
                            <li>Local: {{ Evento.local }}</li>
                        </ul>

                        {% if Evento.more_info_img %}
                            <h2 class="pt-3" > Mais informações?</h2>
                            <a style="color: #001652; font-size: .9rem;" href="{% get_media_prefix %}{{ Evento.more_info_img }}">Abra aqui</a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}