{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static "css/historico.css" %}"/>


<div class="container padding">
    <div class="jumbotron">
        <div class="timeline">
            {% for logo in logos%}
                <div class="container-tl {%if forloop.counter0|divisibleby:2 %} left {% else %} right {% endif %}">
                    <div class="content-tl">
                        <h2> {{ logo.nome }}</h2>
                        <h3 class="text-center"><span class="small text-gray"><i class="far fa-calendar-alt"></i>  {{logo.ano_inicial}} - {{logo.ano_final}} </span><h3>
                        <img class="img-fluid" src="../../media/{{logo.logo}}" alt="">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}