{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container padding">
    <div class="jumbotron">
        <h1 class="text-center" data-aos="fade-up">Nossa Diretoria</h1>
        <p class="text-center my-5" data-aos="fade-up">Conheça os membros da gestão atual do CADir!</p>

        <div class="row">
            <!-- Card 1 -->
            <div class="col-md-4 mb-4" data-aos="fade-up">
                <div class="card text-center">
                    <img class="card-img-top" src="CAMINHO_DA_FOTO" alt="NOME">
                    <div class="card-body">
                        <h5 class="card-title">CARGO</h5>
                        <p class="card-text">NOME</p>
                    </div>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-4 mb-4" data-aos="fade-up">
                <div class="card text-center">
                    <img class="card-img-top" src="CAMINHO_DA_FOTO" alt="NOME">
                    <div class="card-body">
                        <h5 class="card-title">CARGO</h5>
                        <p class="card-text">NOME</p>
                    </div>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-4 mb-4" data-aos="fade-up">
                <div class="card text-center">
                    <img class="card-img-top" src="CAMINHO_DA_FOTO" alt="NOME">
                    <div class="card-body">
                        <h5 class="card-title">CARGO</h5>
                        <p class="card-text">NOME</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
