{% extends 'base.html' %}

{% load tz %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center">Institucional</h1>

            <h2 class="pt-2"> O que é um centro acadêmico ?</h2>
            <p> {% lorem %}</p>

            <h2 class="pt-2">Postagens Recentes</h2>
            <div class="list-group">
                {% for postagem in Postagens %}
                    <a href="{% url 'institucional:postagem_show' pk=postagem.nome %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ postagem.nome }}</h5>
                            <small>{{ postagem.created_at|timesince:Hoje }} </small>
                        </div>
                        <p class="mb-1"> {{ postagem.desc }}</p>
                    </a>
                {% endfor %}
            </div>

            <div class="text-center ver-mais">
                <a class="btn btn-primary" href="{% url 'institucional:postagens_index' %}">Ver todas as postagens</a>
            </div>

            <h2 class="pt-2"> Acesso ao drive das atas </h2>
            <p> {% lorem %}</p>

            <h2 class="pt-2"> Histórico do CADir</h2>
            <p> {% lorem %}</p>
            <div class="text-center ver-mais">
                <a class="btn btn-primary" href="{% url 'institucional:institucional_historico' %}"> Histórico Completo</a>
            </div>

        </div>
    </div>
{% endblock %}