{% extends 'base.html' %}

{% load tz %}
{% block content %}
    <div class="container padding">
        <div class="jumbotron">
            <h1 class="text-center">Todas as postagens</h1>
            {% if not Postagens %}
                <h2 class="text-center text-warning"> Ainda não há postagens disponíveis </h2>
            {% endif %}
            <div class="list-group">
                {% for postagem in Postagens %}
                    <a href="{% url 'institucional:postagem_show' pk=postagem.nome %}"
                       class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ postagem.nome }}</h5>
                            <small>{{ postagem.created_at|timesince:Hoje }} </small>
                        </div>
                        <p class="mb-1"> {{ postagem.desc }}</p>
                    </a>
                {% endfor %}
            </div>

            <div class="pagination padding text-center">
                <span class="step-links">
                    {% if Postagens.has_previous %}
                        <a class="btn btn-info" href="?page=1">&laquo; Primeira </a>
                        <a class="btn btn-info" href="?page={{ Postagens.previous_page_number }}"> Anterior</a>
                    {% endif %}

                    <span class="current">
                        Page {{ Postagens.number }} of {{ Postagens.paginator.num_pages }}.
                    </span>

                    {% if Postagens.has_next %}
                        <a class="btn btn-info" href="?page={{ Postagens.next_page_number }}">Próxima</a>
                        <a class="btn btn-info" href="?page={{ Postagens.paginator.num_pages }}">Última &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}